.btn {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  color: #f3f3f3;
  background-color: #153075;
}

.btn-warning-red {
  background-color: #ea3647;
  color: #f3f3f3;
}

.btn-success {
  background-color: #0b845c;
  color: #f3f3f3;
}

.small {
  width: auto;
  padding: 8px 16px;
}

.medium {
  width: 392px;
  max-width: 392px;
}

.large {
  width: 100%;
}
