* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  /* font-family: "Nunito Sans", sans-serif !important; */
  /* font-family: "Work Sans", sans-serif !important; */
  font-family: "Inter", sans-serif !important;
  text-decoration: none;
  scrollbar-width: auto;
  scrollbar-color: #bac3d4;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a {
  cursor: pointer;
}
:root {
  --text: #12141a;
  --secondaryText: #606778;
  --secondaryBg: #f2f4f7;
}

p {
  color: var(--text);
}
