.navContainer {
    display: flex;
    border: 1px solid #d5d5d5;
    height: auto;
    overflow-y: auto;
    min-width: 340px;
    background-color: white;
    padding-left: 18px;
    font-size: 16px;
  }
  .iconsNavbar {
    font-size: 24px;
  }
  .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 44px;
    margin: 112px auto 58px auto;
    border: 1px solid #e4e4e7;
    border-radius: 8px;
  }
  .gradient {
    background-image: linear-gradient(
      45deg,
      #0b845c 50%,
      #0b845c 50%,
      #153075 50%,
      #153075 50%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .navSpans {
    width: 48px;
    height: 10px;
    opacity: 50%;
  }
  .blockNav {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .listItem {
    margin: 50px;
  }